
@{
    ViewBag.Title = "Kapali";
    Layout = "~/Views/Shared/_singlePage.cshtml";
}

<section class="inner-page">
    <div class="container">

        <div class="section-title">
            <h5 style="color:blue"> @TempData["kapali"] </h5>
            <br />

        </div>
        <div class="row">
        </div>
    </div>
</section>
