
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div class="row">
    <img style="text-align:center" width="200px" height="200px" src="~/images/Kayu-Logo-128x128.png" />

</div>

